@use './reset.scss';
html,
body,
#app {
  width: 100%;
  height: 100%;
}

/* Webkit浏览器（Chrome、Edge、Safari等）滚动条样式 */
::-webkit-scrollbar {
  width: 10px;
  /* 设置滚动条整体宽度为10像素 */
}

/* 滚动条轨道（背景区域）样式 */
::-webkit-scrollbar-track {
  /* 此处可以自定义滚动条轨道的样式 */
  /* 例如：background-color: #f0f0f0; */
  /* 默认留空，使用浏览器默认样式 */
}

/* 滚动条滑块（可拖动的部分）样式 */
::-webkit-scrollbar-thumb {
  background-color: red;
  /* 设置滑块背景颜色为红色 */
  border-radius: 10px;
  /* 设置滑块圆角半径为10像素，使其两端呈圆形 */
}